PROJECT_ID=arabidopsis_demo
SPECIES_ID=Arabidopsis_thaliana
SPECIES_NAME="Arabidopsis thaliana"
THREADS=20
GENOME_SIZE=150m
BUSCO_LINEAGE=embryophyta_odb10

RAW_DIR=data/raw
WORK_DIR=work
RESULT_DIR=results
REF_DIR=refs
LOG_DIR=logs

LONG_READS=data/raw/Arabidopsis_thaliana.longread.fastq.gz
HIC_R1=data/raw/Arabidopsis_thaliana.HiC_R1.fastq.gz
HIC_R2=data/raw/Arabidopsis_thaliana.HiC_R2.fastq.gz
RNA_R1=data/raw/Arabidopsis_thaliana.RNA_R1.fastq.gz
RNA_R2=data/raw/Arabidopsis_thaliana.RNA_R2.fastq.gz

GENOME_FA=work/assembly/Arabidopsis_thaliana.genome.fa
GENOME_UPPER_FA=work/assembly/Arabidopsis_thaliana.genome.upper.fa
REPEAT_GFF3=work/repeat/Arabidopsis_thaliana.repeatmasker.all.gff3
GFF3=work/annotation/Arabidopsis_thaliana.annotation.primary.gff3
CDS_FA=work/annotation/Arabidopsis_thaliana.cds.primary.fa
PROTEIN_FA=work/annotation/Arabidopsis_thaliana.protein.primary.fa
FUNCTIONAL_ANNOTATION=work/annotation/Arabidopsis_thaliana.functional_annotation.tsv
